# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
**/targetConfigs*
**/Debug*
**/Release*
**/.settings/
**/.settings/**
**/.launches/**
**/.launches/

#Doxygen Generator
**/html
**/latex

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/
.metadata/
dvt/
RemoteSystemsTempFiles/
.jxbrowser.userdata/
.jxbrowser.userdata/**
**/.jxbrowser.userdata
**/.jxbrowser.userdata/**
.jxbrowser-data/
.jxbrowser-data/**
**/.jxbrowser-data
**/.jxbrowser-data/**
/.tmp/
.gitignore~

# TM4C129E DriverLib host-test generated artifacts
/TM4C129E_DriverLib_Test/build/
/TM4C129E_DriverLib_Test/coverage/opencppcoverage/
